#loginScreen {
  height: 100%;
  background-image: url("../img/orange-bg3.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

html, body {
  height: 100%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.logo {
  margin-top: 10vh;
}

.w3-comicSans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
  text-shadow:1px 1px 0 #444;
}

.logoSize {
  font-size:7vh;
  text-shadow: 1px 1px 4px black;
}

.loginInput {
  background: transparent;
  margin-bottom: 2vh;
  height: 6vh;
}

.loginMargin {

}

.labelShadow {
  font-size: 3vh;
  text-shadow: 0 0 3px black;
}

.loginButton {
  margin: 6vh;
}

.logoSizeCad {
  font-size:5vh;
  text-shadow: 1px 1px 4px black;
}

.logoCad {
  margin-top: 6vh;
}

.formLogin {
  margin-top: 2vh;
}

.textFontSize {
  font-size: 4vh;
  text-shadow: 0.2vh 0.2vh 0.2vh orange;
}

.fundo {
  height: 100%;
  padding: 0;
}

#demo {
  width: 100%;
}

.bigFont {
  font-size: 5.5vh;
}

.selectWork {
  width: 100%;
  font-size: 3vh;
}

.divSelectWork {
  height: 40vh;
  padding: 0;
  overflow: scroll;

}

.divMain {
  height: 100%;
}

.addNew {
  font-size: 3vh;
  margin-top: 5vh;
  padding: 1vh;
}

.start {
  margin-top: 4vh;
  padding:1vh;
  font-size: 4.5vh;
}

#menuMobile {
}

::-webkit-scrollbar {
    display: none;
}
.exercice {
  font-size: 3vh;
  width: 100%;
  margin:0;
  padding:0;

}

.fontTitleSmall {
  font-size: 4.5vh;
}

.iconX {

}

.labelEdit {
  font-size: 3vh;
  text-shadow: 0 0 3px white;
}

.confirmEdit {
  font-size: 4vh;
}


.lineBreak {
  margin:0;
  padding: 0;
}

#startScreen {
  height: 100%;
  background-image: url("../img/black-bg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

.nomeEx {
  font-size: 6vh;
  text-shadow: 0.2vh 0.2vh 0.2vh black;
}

.nomeExDiv {
  margin-top: 6vh;
}

.timer {
  height: 40vh;
}

.countdown {
  font-size: 25vh;
  text-shadow: 1vh 1vh 1vh black;
}

.iconFontSize {
  font-size: 3vh;
  margin: 0;
}

.lastInfo {
  font-size: 3vh;
}


.inputSize {
  width: 50%;
  padding:0;
  margin:0;
  height: 100%;
  display: inline-block;
}

.signSize {
  width: 20%;
  padding:0;
  margin:0;
  display: inline-block;
  cursor: pointer;
}

.chooseNumberDiv {
  width: 50vh;
  padding:0;
  margin: 0vh 0vh 1vh 0vh ;
  font-size: 5vh;
  display: inline-block;
}

#valueRep {
  width: 100%;
  margin: 0;
  height: 100%;
  text-align: center;

}
